<h2>[ngClass]</h2>
<p [class.cor-fundo]="true">Usando class binding, [class.cor-fundo]="true"</p>

<p [class.cor-fundo]="valorClassBinding">Usando class binding, [class.cor-fundo]="valorClassBinding"</p>
<button (click)="mudarClassBinding()">Adicionar Css</button>

<p [ngClass]="{'cor-fundo': true, 'cor-letra': valorClassBinding, 'estilo-letra': valorClassBinding
, 'borda-paragrafo': valorClassBinding}">Usando ngClass declarando a classe css no template</p>

<p [ngClass]="classes()">Usando ngClass com metodo na classe do componente</p>