<h1>[ngStyle]</h1>

<p [style.font-size]="30 + 'px'">Valor fixo na tela</p>

<p [style.font-size]="valorFonte">Metodo da classe componente sendo referenciado no template</p>

<button (click)="incrementar()">Incrementar</button>

<p [style.font-size]="validaFonte ? 'x-large' : 'smaller'" [style.color]="validaCor ?
'red' : 'blue'">Muda valor com condição ternária</p>
<button (click)="mudaFonte()">muda Fonte</button>
<button (click)="mudaCor()">Muda Cor</button>