<h2>ng-switch-case</h2>
<div [ngSwitch] = "numero">
  <p *ngSwitchCase="1">a variavel esta com o valor de {{numero}}</p>
  <p *ngSwitchCase="2">a variavel esta com o valor de {{numero}}</p>
  <p *ngSwitchCase="3">a variavel esta com o valor de {{numero}}</p>
  <p *ngSwitchCase="4">a variavel esta com o valor de {{numero}}</p>
  <p *ngSwitchCase="5">a variavel esta com o valor de {{numero}}</p>
  <p *ngSwitchDefault>Mensagem padrão</p>
</div>

<button (click)="incrementarNumero()">Incrementar número</button>