<h2>*ngIf</h2>
<div *ngIf="true">
  *ngIf verdadeiro
</div>

<div *ngIf="false">
  *ngIf Falso
</div>
<button (click)="mostrar()">Exibir noma da escola de treinamentos</button>
<br/>
<p *ngIf="getValor()"> Treinamentos com a condicional *ngIf</p>

<p *ngIf="cursos.length == 0">Não temos curso disponivel</p>
<p *ngIf="cursos.length > 0">Agora temos cursos cadastrado</p>


<p *ngIf="mostrarNome">com uma variavel</p>
<p [hidden]="getValor()">Paragrafo hidden</p>