<h2>Event Binding</h2>
<button (click)="meuClick()">Clique Aqui</button>
<input #valorInput (keyup)="digitouVarTemplate(valorInput.value)">

<input type="password" #qtdSenha (keyup)="validaSenha(qtdSenha.value)">
<button [disabled]="!habilitarBotao" (click)="gravarSenha(qtdSenha.value)">Gravar Senha</button>
<br>
<input type="text" #conteudo (keyup.enter)="adicionar(conteudo.value); conteudo.value=''">
<ul>
  <li *ngFor="let item of valores">{{item}}</li>
</ul>

<h2>Blur</h2>
<input type="text" #data (blur)="verIdade(data.value)">
<p>Você tem: {{idade}} anos de idade</p>